<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Modifica la stanza</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/rooms}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-9 col-8-mobile">
                            <h2>Inserisci una nuova stanza</h2>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-12 col-12-mobile"><br></div>
                    </div>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <form th:action="@{/rooms/__${room.id}__}" th:object="${room}" th:method="put" class="row gtr-uniform">
                        <div class="col-6 col-12-mobile">
                            <label>Nome della stanza:</label>
                            <input type="text" th:field="*{nome}" placeholder="Nome della stanza" required>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <h3><b>Temperature</b></h3>
                        </div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Massima (Se la temperatura della stanza supera questo valore il riscaldamento della stessa si bloccher&agrave;) - Deve essere minore di 99&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <label for="tempMax">Massima Temperatura</label>
                            <input type="number" id="tempMax" placeholder="Massima Temperatura" min="0" max="99" step="0.1" th:value="*{maxTemp}" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMax')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMax')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Minima (Nei momenti in cui il riscaldamento &egrave; in modalit&agrave; programma, se la temperatura scender&agrave; sotto questo valore, verr&agrave; attivato il riscaldamento per riportarla a tale valore)  - Deve essere minore della temperatura massima, minore di 99&deg;C e maggiore di 10&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <label for="tempMin">Minima Temperatura</label>
                            <input type="number" id="tempMin" placeholder="Minima Temperatura" min="0" max="99" step="0.1" th:value="*{minTemp}" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMin')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMin')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Minima Assoluta (Temperatura sotto la quale il sistema &egrave; sempre attivo e riscalda anche se &egrave; impostato su spento. Questo avviene per evitare temperature troppo basse che potrebbero danneggiare le tubature.) - Deve essere minore di 10&deg;C e maggiore di 0&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <label for="tempMinAbs">Minima Temperatura Assoluta</label>
                            <input type="number" id="tempMinAbs" placeholder="Minima Temperatura Assoluta" min="0" max="99" step="0.1" th:value="*{absoluteMin}" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMinAbs')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMinAbs')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-3 col-12-mobile">
                            <input type="button" onclick="isminimum()" value="Conferma Temperature"/>
                            <br>
                            <b id="confermaTemp"></b>
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Massima: <span id="tempMaxConfirm"></span>
                            <input type="hidden" th:field="*{maxTemp}">
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Minima: <span id="tempMinConfirm"></span>
                            <input type="hidden" th:field="*{minTemp}">
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Minima assoluta: <span id="tempMinAbsConfirm"></span>
                            <input type="hidden" th:field="*{absoluteMin}">
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-12 col-12-mobile">
                            <h4>Associa un sensore a questa stanza <i>(oppure rimuovi un sensore se ne esiste uno associato)</i></h4>
                        </div>
                        <div th:if="${sensors.iterator().hasNext()}" class="col-6 col-12-mobile">
                            <select th:field="*{sensor.id}">
                                <option th:if="*{sensor.id == null}" value="">Non associare un sensore</option>
                                <option th:if="*{sensor.id != null}" value="">Rimuovi il sensore attuale</option>
                                <option th:each="i : ${sensors}" th:value="${i.id}" th:text="${i.nome+' - '+i.location+' - '+i.id}"></option>
                            </select>
                        </div>
                        <div th:if="${!sensors.iterator().hasNext()}" class="col-12 col-12-mobile">
                            <h4>Non esiste ancora nessun sensore, creane prima almeno uno poi torna qua per associarlo alla stanza, oppure salva la stanza ora e associa il sensore in un secondo momento.</h4>
                        </div>
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <h4>Ricorda di confermare sempre le temperature ogni volta che le modifichi, altrimenti i cambiamenti non verranno salvati</h4>
                            <input type="submit" value="Conferma le temperature con il bottone sopra" id="inviadati" disabled>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
<script type="application/javascript" th:src="@{/js/roomFunctions.min.js}"></script>
</body>
</html>