<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div align="center">
                        <h1 th:text="${message}">error</h1>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div th:replace="fragments/bottom :: bottom"></div>
</div>
</body>
</html>