<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <head th:insert="fragments/header :: header"></head>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>

    <section id="banner">
        <h2>Thermo Pi</h2>
        <p>Home of your Smart Thermo Pi</p>
        <h3 sec:authorize="isAuthenticated()" th:text ="'Benvenuto ' + ${#authentication.getName()}+'!'" class="welcome"></h3>
    </section>
    <section id="main" class="container">
        <section class="box special">
            <header class="major">
                <h2>This is you smart Thermo Pi administration panel</h2>
                <p>Here you can manage whatever you need remotely in your thermo pi</p>
            </header>
        </section>
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Serva. All rights reserved.</li>
            </ul>
        </footer>

        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div align="center">
                        <h1>Product List</h1>
                        <a href="/new">Create New Product</a>
                        <br/><br/>
                        <table border="1" cellpadding="10">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>maxTemp</th>
                                <th>minTemp</th>
                                <th>Price</th>
                                <th>absoluteMin</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="room : ${listRooms}">
                                <td th:text="${room.id}">ID</td>
                                <td th:text="${room.nome}">Name</td>
                                <td th:text="${room.maxTemp}">maxTemp</td>
                                <td th:text="${room.minTemp}">minTemp</td>
                                <td th:text="${room.absoluteMin}">absoluteMin</td>
                                <td>
                                    <a th:href="@{'/edit/' + ${room.id}}">Edit</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a th:href="@{'/delete/' + ${room.id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>