<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Inserisci gli orari della stanza</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/rooms/__${id}__/orarionoff}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-10 col-8-mobile">
                            <h2>Inserisci gli orari della stanza</h2>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-12 col-12-mobile" th:if="${message != null}">
                            <h3 th:text="${message}" class="error"></h3>
                            <br>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <h3><b>Orari di accensione/spegnimento</b></h3>
                            <h3>Ricorda che l'orario di spegnimento deve essere successivo a quello di accensione
                                <br>Ricorda inoltre che l'orario di spegnimento della fascia 1 deve essere antecedente a quello di accensione della fascia 2 e cos&igrave; via, altrimenti verrano scartati i dati non corretti</h3>
                            <h4><i>Solo la prima fascia &egrave; obbligatoria, le altre, se lasciate vuote, verranno ignorate. Ricorda: se lasci vuota la fascia 2, la fascia 3 non verr&agrave; letta.</i></h4>
                        </div>
                        <div class="col-12 col-12-mobile"><br></div>
                    </div>
                    <form th:action="@{/rooms/__${id}__/orarionoff}" th:object="${orarionoffDTO}" th:method="post" class="row gtr-uniform">
                        <div th:each="orari, iter : *{orariOnOffs}" th:remove="tag">
                            <div class="col-12 col-12-mobile" th:if="${iter.index == 0}">
                                <h3 th:text="'Fascia del '+${days[__${iter.index}__]}"></h3>
                            </div>
                            <div class="col-6 col-6-mobile" th:if="${iter.index != 0}">
                                <h3 th:text="'Fascia del '+${days[__${iter.index}__]}"></h3>
                            </div>
                            <div class="col-6 col-6-mobile" th:if="${iter.index != 0}">
                                <a class="button" id="copia" th:onclick="'copia('+__${iter.index}__+')'">Copia dal luned&igrave;</a>
                            </div>
                            <input type="hidden" th:field="*{orariOnOffs[__${iter.index}__].giorno}" required>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Accensione Fascia 1</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioAccensioneA}" required>
                            </div>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Spegnimento Fascia 1</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioSpegnimentoA}" required>
                            </div>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Accensione Fascia 2</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioAccensioneB}">
                            </div>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Spegnimento Fascia 2</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioSpegnimentoB}">
                            </div>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Accensione Fascia 3</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioAccensioneC}">
                            </div>
                            <div class="col-6 col-12-mobile">
                                <h4>Orario Spegnimento Fascia 3</h4>
                                <input type="time" th:field="*{orariOnOffs[__${iter.index}__].orarioSpegnimentoC}">
                            </div>
                            <div class="col-12 col-12-mobile">
                                <hr>
                            </div>
                        </div>
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <input type="submit" value="Inserisci gli orari">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="application/javascript">
    function copia(sectionID) {
        $("#orariOnOffs"+sectionID+"\\.orarioAccensioneA").val($("#orariOnOffs0\\.orarioAccensioneA").val())
        $("#orariOnOffs"+sectionID+"\\.orarioSpegnimentoA").val($("#orariOnOffs0\\.orarioSpegnimentoA").val())
        $("#orariOnOffs"+sectionID+"\\.orarioAccensioneB").val($("#orariOnOffs0\\.orarioAccensioneB").val())
        $("#orariOnOffs"+sectionID+"\\.orarioSpegnimentoB").val($("#orariOnOffs0\\.orarioSpegnimentoB").val())
        $("#orariOnOffs"+sectionID+"\\.orarioAccensioneC").val($("#orariOnOffs0\\.orarioAccensioneC").val())
        $("#orariOnOffs"+sectionID+"\\.orarioSpegnimentoC").val($("#orariOnOffs0\\.orarioSpegnimentoC").val())
    }
</script>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>