<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Inserisci una nuova stanza</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/rooms}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-9 col-8-mobile">
                            <h2>Inserisci una nuova stanza</h2>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-12 col-12-mobile"><br></div>
                    </div>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <form th:action="@{/rooms/new}" th:object="${room}" th:method="post" class="row gtr-uniform">
                        <div class="col-6 col-12-mobile">
                            <label>Nome della stanza:</label>
                            <input type="text" th:field="*{nome}" placeholder="Nome della stanza" required>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <h3><b>Temperature</b></h3>
                        </div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Massima (Se la temperatura della stanza supera questo valore il riscaldamento della stessa si bloccher&agrave;) - Deve essere minore di 99&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <br>
                            <input type="number" id="tempMax" placeholder="Massima Temperatura" min="0" max="99" step="0.1" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMax')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMax')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Minima (Nei momenti in cui il riscaldamento &egrave; in modalit&agrave; programma, se la temperatura scender&agrave; sotto questo valore, verr&agrave; attivato il riscaldamento per riportarla a tale valore)  - Deve essere minore della temperatura massima, minore di 99&deg;C e maggiore di 10&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <br>
                            <input type="number" id="tempMin" placeholder="Minima Temperatura" min="0" max="99" step="0.1" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMin')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMin')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-8 col-12-mobile">
                            <h4>Temperatura Minima Assoluta (Temperatura sotto la quale il sistema &egrave; sempre attivo e riscalda anche se &egrave; impostato su spento. Questo avviene per evitare temperature troppo basse che potrebbero danneggiare le tubature.) - Deve essere minore di 10&deg;C e maggiore di 0&deg;C</h4>
                        </div>
                        <div class="col-3 col-9-mobile">
                            <br>
                            <input type="number" id="tempMinAbs" placeholder="Minima Temperatura Assoluta" min="0" max="99" step="0.1" required/>
                        </div>
                        <div class="col-1 col-3-mobile">
                            <i class="fas fa-plus-circle fa-3x" onclick="increase('tempMinAbs')"></i>
                            <i class="fas fa-minus-circle fa-3x" onclick="decrease('tempMinAbs')"></i>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-3 col-12-mobile">
                            <input type="button" onclick="isminimum()" value="Conferma Temperature"/>
                            <b id="confermaTemp"></b>
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Massima: <span id="tempMaxConfirm"></span>
                            <input type="hidden" th:attr="maxtemp">
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Minima: <span id="tempMinConfirm"></span>
                            <input type="hidden" th:attr="mintemp">
                        </div>
                        <div class="col-3 col-12-mobile">
                            Temperatura Minima assoluta: <span id="tempMinAbsConfirm"></span>
                            <input type="hidden" th:attr="absolutemin">
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                        <div class="col-12 col-12-mobile">
                            <h4>Associa un sensore a questa stanza <i>(oppure rimuovi un sensore se ne esiste uno associato)</i></h4>
                        </div>
                        <%if @sensors.present? && @room.sensor_id.nil?%>
                        <div class="col-6 col-12-mobile">
                            <%= form.collection_select(:sensor_id, @sensors, :id, :nome, { include_blank: "Non associare un sensore" })%>
                        </div>
                        <%elsif @sensors.present? && !@room.sensor_id.nil?%>
                        <div class="col-6 col-12-mobile">
                            <%= form.collection_select(:sensor_id, @sensors, :id, :nome, { include_blank: "Rimuovi il sensore attuale" })%>
                        </div>
                        <%else %>
                        <div class="col-12 col-12-mobile">
                            <h4>Non esiste ancora nessun sensore, creane prima almeno uno poi torna qua per associarlo alla stanza, oppure salva la stanza ora e associa il sensore in un secondo momento.</h4>
                        </div>
                        <%end %>
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <h4>Ricorda di confermare sempre le temperature ogni volta che le modifichi, altrimenti i cambiamenti non verranno salvati</h4>
                            <%= form.submit "Conferma le temperature con il bottone sopra", id: "inviadati", disabled: true %>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
<script type="application/javascript">
    function isminimum() {
        let max = parseFloat($("#tempMax").val());
        let min = parseFloat($("#tempMin").val());
        let absmin = parseFloat($("#tempMinAbs").val());
        let $inviadati = $("#inviadati");
        if (!(isNaN(min) && isNaN(absmin) && isNaN(max))) {
            if(max > 99 || max <= 10 || min > 99 || min <= 10 || absmin <0 || absmin > 10 || max <= min) {
                /*confermaTemp*/
                $("#confermaTemp").text("Errore, controlla che i dati rispettino le regole di inserimento");
                $inviadati.prop('disabled', true);
                $inviadati.val("Errore nelle temperature");
            }else{
                $("#confermaTemp").text("Confermate");
                $("#room_max_temp").val(max);
                $("#room_min_temp").val(min);
                $("#room_absolute_min").val(absmin);
                $("#tempMaxConfirm").text(max+"\xB0C");
                $("#tempMinConfirm").text(min+"\xB0C");
                $("#tempMinAbsConfirm").text(absmin+"\xB0C");
                $inviadati.prop('disabled', false);
            }
        }else{
            $("#confermaTemp").text("Completa tutti i campi prima di premere questo bottone");
        }
    }
    function increase(id) {
        let obj = $("#"+id);
        let calc = 0
        if (!(obj.val()==="")){
            calc = Math.round((parseFloat(obj.val()) + 0.1) * 10) / 10
        }
        obj.val(calc);
    }
    function decrease(id) {
        let obj = $("#"+id);
        let calc = 0
        if (!(obj.val()==="")) {
            calc = Math.round((parseFloat(obj.val()) - 0.1) * 10) / 10;
        }
        obj.val(calc);
    }
</script>
</body>
</html>