<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Le tue stanze</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-2 col-8-mobile">
                            <h2>Le tue stanze</h2>
                        </div>
                        <div class="col-5 col-12-mobile">
                            <h4 th:if="${rooms.iterator().hasNext()}">(clicca sul nome della stanza per vedere ulteriori dettagli e impostare gli orari di accensione e spegnimento del sistema)</h4>
                        </div>
                        <div class="col-3 col-12-mobilep">
                            <a th:href="@{/rooms/new}" class="button">Inserisci una nuova stanza</a>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <hr>
                        </div>
                    </div>
                    <h3 th:if="${param.message != null}" th:text="${param.message[0]}" class="error"></h3>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <br th:if="${message != null}">
                    <div th:if="${rooms.iterator().hasNext()}" class="row gtr-uniform" th:each="room : ${rooms}">
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-6 col-12-mobile">
                            Nome della stanza: <h2><b><a th:href="@{/rooms/__${room.id}__}" th:text="${room.nome}"></a></b></h2>
                            Stato attuale riscaldamento: <th:block th:text="${room.actualStatus ? 'acceso' : 'spento'}"></th:block>
                        </div>
                        <div class="col-2 col-6-mobile">
                            <a th:href="@{/rooms/__${room.id}__/edit}" class='far fa-edit fa-3x' title="Modifica questa stanza"></a>
                        </div>
                        <div class="col-4 col-6-mobile">
                            <form th:action="@{/rooms/__${room.id}__}" th:method="delete">
                                <a th:id="${'trashcan'+room.id}" href="javascript:{}" th:onclick="'showconfirm(\''+__${room.id}__+'\')'" class='far fa-trash-alt fa-3x' title="Elimina questa stanza"></a>
                                <p th:id="${room.id}" hidden>
                                    <input type="submit" class="special small" value="Conferma eliminazione">
                                    <a class="button small" th:onclick="'hideconfirm(\''+__${room.id}__+'\')'">Annulla</a>
                                </p>
                            </form>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div th:if="${!rooms.iterator().hasNext()}" class="row gtr-uniform" id="notFound">
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <h3>Non c'&egrave; alcuna stanza salvata, inizia aggiungendone una</h3>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <a th:href="@{/rooms/new}"><h3>Inserisci una nuova stanza</h3></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="application/javascript" th:src="@{/js/hideNshow.delete.js}"></script>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>