<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Le tue temperature</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-10 col-8-mobile">
                            <h2>Le tue temperature</h2>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <hr>
                        </div>
                    </div>
                    <h3 th:if="${param.message != null}" th:text="${param.message[0]}" class="error"></h3>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <br th:if="${message != null}">
                    <div th:if="${rooms.iterator().hasNext()}" class="row gtr-uniform" th:each="room : ${rooms}" id="found">
                        <div class="col-12 col-12-mobile">
                            <br>
                        </div>
                        <div class="col-12 col-12-mobile">
                            ID sensore: <h3 th:text="${room.id}"></h3>
                        </div>
                        <div class="col-4 col-6-mobile">
                            Nome: <h3 th:text="${room.nome}"></h3>
                        </div>
                        <div class="col-3 col-6-mobile">
                            Posizione: <h3 th:text="${room.location}"></h3>
                        </div>
                        <div class="col-2 col-4-mobile">
                            <a th:href="@{/rooms/__${room.id}__}" class='far fa-edit fa-3x' title="Modifica questo sensore"></a>
                        </div>
                        <div class="col-12 col-12-mobile"><hr></div>
                    </div>
                    <div th:if="${!rooms.iterator().hasNext()}" class="row gtr-uniform" id="notFound">
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <h3>Non c'&egrave; alcuna stanza salvata, inizia aggiungendone una, poi potrai vederne le temperature</h3>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <a th:href="@{/rooms/new}"><h3>Inserisci una nuova stanza</h3></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>