<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Le tue temperature</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-10 col-8-mobile">
                            <h2>Le tue temperature</h2>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <hr>
                        </div>
                    </div>
                    <h3 th:if="${param.message != null}" th:text="${param.message[0]}" class="error"></h3>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <br th:if="${message != null}">
                    <div th:if="${rooms.iterator().hasNext()}" class="row gtr-uniform" th:each="room : ${rooms}" id="found">
                        <div class="col-12 col-12-mobile">
                            <br>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <h3>Nome della stanza: <b th:text="${room.nome.toUpperCase()}"></b></h3>
                        </div>
                        <div th:if="${room.sensor == null}" class="col-8 col-12-mobile">
                            <h3>Associa un sensore a questa stanza per vederne le temperature</h3>
                        </div>
                        <div th:if="${room.sensor == null}" class="col-4 col-12-mobile">
                            <a th:href="@{/rooms/__${room.id}__/edit}" class='button'>Associa il sensore alla stanza</a>
                        </div>
                        <th:block th:if="${room.sensor != null}">
                            <div class="col-6 col-12-mobile">
                                ID sensore associato: <h4 th:text="${room.sensor.id}"></h4>
                            </div>
                            <div class="col-6 col-12-mobile">
                                <th:block th:if="${lastTemps.get(room.sensor.id)==null}">
                                    <h4>Ancora non è stata letta alcuna temperatura</h4>
                                    <h4>Torna tra un po' per permettere al sensore di leggerne almeno una</h4>
                                </th:block>
                                <h4 th:if="${lastTemps.get(room.sensor.id)!=null}" >Ultima temperatura letta:
                                    <th:block th:text="${lastTemps.get(room.sensor.id)}"></th:block></h4>
                            </div>
                            <div th:if="${lastTemps.get(room.sensor.id)!=null}" class="col-4 col-12-mobile">
                                <a th:href="@{/temps/__${room.sensor.id}__}" class="button">Guarda le temperature di questa stanza</a>
                            </div>
                        </th:block>
                        <div class="col-12 col-12-mobile"><hr></div>

                    </div>
                    <div th:if="${!rooms.iterator().hasNext()}" class="row gtr-uniform" id="notFound">
                        <div class="col-12 col-12-mobile"><br></div>
                        <div class="col-12 col-12-mobile">
                            <h3>Non c'&egrave; alcuna stanza salvata, inizia aggiungendone una, poi potrai vederne le temperature</h3>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <a th:href="@{/rooms/new}"><h3>Inserisci una nuova stanza</h3></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>