<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="it">
<head th:insert="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>Le tue temperature</title>
</head>
<body class="landing">
<div id="page-wrapper">
    <header th:replace="fragments/top :: top"></header>
    <section id="main" class="container">
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <div class="row gtr-uniform">
                        <div class="col-2 col-4-mobile ">
                            <a th:href="@{/temps}" class="button icon solid fa-chevron-left">Indietro</a>
                        </div>
                        <div class="col-10 col-8-mobile">
                            <h2>Le temperature della stanza</h2>
                        </div>
                        <div class="col-12 col-12-mobile">
                            <hr>
                        </div>
                    </div>
                    <h3 th:if="${param.message != null}" th:text="${param.message[0]}" class="error"></h3>
                    <h3 th:if="${sensor == false}" class="error">ID sensore non valido</h3>
                    <h3 th:if="${message != null}" th:text="${message}" class="error"></h3>
                    <br th:if="${message != null}">
                    <div class="row gtr-uniform">
                        <th:block th:if="${last!=null}">
                            <div id="ls" class="col-12 col-12-mobile"><h2><b>TEMP: </b>
                                <th:block th:text="${last.temp}"></th:block> &deg;C <b>alle ore: </b>
                                <th:block th:text="${last.getCreatedTimeFormatted()}"></th:block></h2></div>
                            <div class="col-12 col-12-mobile"><br></div>
                            <div class="chart-container oneLineGraph">
                                <canvas id="tempChart"></canvas>
                            </div>
                            <div class="col-12 col-12-mobile"><hr></div>
                            <div class="col-8 col-12-mobile">
                                <h3>Scegli il numero di dati che vuoi vedere per le medie</h3>
                            </div>
                            <div class="col-4 col-12-mobile">
                                <select id="datanumber" onchange="updateMeds(this.value)">
                                    <option value="7">7
                                    <option value="15">15
                                    <option value="30">30
                                    <option value="60">60
                                    <option value="100">100
                                </select>
                            </div>
                            <div class="col-12 col-12-mobile"><br></div>
                            <div class="chart-container oneLineGraph">
                                <canvas id="medtempChart"></canvas>
                            </div>
                        </th:block>
                        <div th:if="${last==null && sensor == null}" class="col-12 col-12-mobilep">
                            <h3>Non c'&egrave; alcuna temperatura disponibile, attendi che il sensore ne legga qualcuna, poi torna qua</h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="application/javascript" th:inline="javascript" th:if="${last!=null}">
    $(document).ready(function(){
        $.getJSON("/api/temps/"+[[${id}]],function(t){
            $.each(t.tempVals,function(t,a){tempChart.data.datasets[0].data.push(a)}),
            $.each(t.times,function(t,a){tempChart.data.labels.push(a)}),
            tempChart.update(),
            $.each(t.tempsAVG,function(t,a){medtempChart.data.datasets[0].data.push(a)}),
            $.each(t.avgDates,function(t,a){medtempChart.data.labels.push(a)}),
            medtempChart.update()
        });
    });
    crtTemps = document.getElementById("tempChart").getContext("2d");
    crtMedTemp = document.getElementById("medtempChart").getContext("2d");
    tempChart = new Chart(crtTemps,{type:'line',
        data: {labels: [],
            datasets: [{label: 'Temperatures \u00B0C',
                data: [],
                fill:!1,borderColor:"#3cb371",lineTension:0.1}]},
        options:{responsive:!0,maintainAspectRatio:!1,aspectRatio:1,scales:{yAxes:[{ticks:{beginAtZero:!1}}]}}
    });
    medtempChart = new Chart(crtMedTemp,{type:'line',
        data: {labels: [],
            datasets: [{label: 'Medium Temps \u00B0C',
                data: [],
                fill:!1,borderColor:"#216bff",lineTension:0.1}]},
        options:{responsive:!0,maintainAspectRatio:!1,aspectRatio:1,scales:{yAxes:[{ticks:{beginAtZero:!1}}]}}
    });
    function updateTemps(){
        $.getJSON("/api/temps/"+[[${id}]]+"/update", { previous: tempChart.data.labels[tempChart.data.labels.length - 1]}, function(result){
            if(!(result.temp == null && result.created == null)){
                tempChart.data.labels.push(result.created);
                tempChart.data.datasets[0].data.push(result.temp);
                if(tempChart.data.labels.length >= 150) {
                    tempChart.data.labels.shift();
                    tempChart.data.datasets[0].data.shift();
                }
                tempChart.update();
                $("#ls").html("<h2><b>TEMP:</b> "+result.temp+"&deg;C <b>alle ore: </b>"+result.created+"</h2>");
            }
        });
        // ogni 14 minuti
        //console.log("update temps @: "+ Date());
        //setTimeout( updateTemps, 14*60*1000 )
        // un update ogni 9 minuti
        setTimeout( updateTemps, 60*9*1000 );
    }
    function updateMeds(numberOfValues){
        $.getJSON("/api/temps/"+[[${id}]]+"/updateMeds", { days:numberOfValues}, function(result){
            if(result.tempsAVG != null && result.avgDates != null){
                let valueNumber = medtempChart.data.labels.length;
                for(let i=0; i<valueNumber; i++) {
                    medtempChart.data.labels.pop();
                    medtempChart.data.datasets[0].data.pop();
                }
                $.each(result.tempsAVG, function(i, field){medtempChart.data.datasets[0].data.push(field);});
                $.each(result.avgDates, function(i, field){medtempChart.data.labels.push(field);});
                medtempChart.update();
            }
        });
    }
    function startUpdate(){
        setTimeout( updateTemps, 5000 );
    }
    window.addEventListener("load", startUpdate);
</script>
<div th:replace="fragments/bottom :: bottom"></div>
</body>
</html>